<footer>
	<div id="firstContainerFooter">
		<a id="buttonContact" href="{{path('formContact')}}">Nous contacter</a>
		<div>

			<a href="https://www.instagram.fr"><img src="{{asset('/img/iconInsta.png')}}" alt="lien instagram"></a>
			<a href="https://www.facebook.fr"><img src="{{asset('/img/iconFb.png')}}" alt="lien facebook"></a>
			<a href="https://www.twitter.fr"><img src="{{asset('/img/iconTwitter.png')}}" alt="lien twitter"></a>

		</div>
	</div>
	<div id="secondContainerFooter">
		<a href="{{path('legalNotices')}}">Mentions légales</a>
		<a href="{{asset('/img/files/ConditionGeneral.pdf')}} " download="ConditionGeneral.pdf">Condition générale</a>
		<a href="{{asset('/img/files/politiqueCookie.pdf')}} " download="politiqueCookie.pdf">Utilisation des cookies</a>
	</div>
</footer>
