<footer>
	<div id="firstContainerFooter">
		<button>Nous contacter</button>
		<div>
			<a href="http://www.instagram.fr"><img src="{{asset('/img/iconInsta.png')}}" alt="instagram"></a>
			<a href="http://www.facebook.fr"><img src="{{asset('/img/iconFb.png')}}" alt="facebook"></a>
			<a href="http://www.twitter.fr"><img src="{{asset('/img/iconTwitter.png')}}" alt="twitter"></a>
		</div>
	</div>
	<div id="secondContainerFooter">
		<a href="{{path('legalNotices')}}">Mentions légales</a>
		<a href="{{asset('/img/files/ConditionGeneral.pdf')}} " download="ConditionGeneral.pdf">Conditions générales</a>
		<a href="{{asset('/img/files/politiqueCookie.pdf')}} " download="politiqueCookie.pdf">Utilisation des cookies</a>
	</div>
</footer>
