{% extends "template.html.twig" %}


{% block title %}
	HomeAway
{% endblock %}
{% block content %}
	<section id="hero">
		<figure>
			<img src="{{asset('/img/heroMontainPhone.jpg')}}" alt=""></figure>
		<h1>Détendez-vous et explorez !</h1>
		<div class="searchBoxDesktop">
			<form action="{{path('search')}}" method="POST" class="searchformDesktop">
				<div class="searchFormBox">
					<label for="city">Destination</label>
					<input type="text" name="city" id="city">
				</div>
				<div class="searchFormBox">
					<label for="start_date">Date d'arrivée</label>
					<input type="date" name="start_date" id="start_date">
				</div>
				<div class="searchFormBox">
					<label for="end_date">Date de retour</label>
					<input type="date" name="end_date" id="end_date">
				</div>
				<div class="searchFormBox">
					<label for="number_of_person">Voyageurs</label>
					<input type="number" name="number_of_person" id="number_of_person">
				</div>
				<div id="buttonSearch">
					<input type="submit" name="submit" id="submit" value="Rechercher">
				</div>
			</form>
		</div>

	</section>

	<section id="destination" class="row-limit-size">
		<div class="destinationContainer">
			<article class="articleDestination">
				<img src="{{asset('/img/orangeLogo.png')}}" alt="logo orange">
				<h2 class="titleDestination">Envie de plage
				</h2>
			</article>
			<div class="imgDestination">
				{% for oneCityBeach in cityBeach %}
					<div>
						<a href="{{ path('baseLogement') ~ oneCityBeach.id_ville }}">
							<img src="{{ asset('/img/' ~ oneCityBeach.img) }}" alt="{{oneCityBeach.ville_nom}}">
						</a>
						<h4>{{oneCityBeach.ville_nom}}</h4>
					</div>
				{% endfor %}

			</div>
		</div>
		<div class="destinationContainer">
			<article class="articleDestination">
				<img src="{{asset('/img/greenLogo.png')}}" alt="logo vert">
				<h2 class="titleDestination">Envie de montagne
				</h2>
			</article>
			<div class="imgDestination">
				{% for oneCityMountain in cityMountain %}
					<div>
						<a href="{{ path('baseLogement') ~ oneCityMountain.id_ville }}">
							<img src="{{ asset('/img/' ~ oneCityMountain.img) }}" alt="Chamonix">
						</a>
						<h4>{{oneCityMountain.ville_nom}}</h4>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="destinationContainer">
			<article class="articleDestination">
				<img src="{{asset('/img/redLogo.png')}}" alt="logo rouge">
				<h2 class="titleDestination">Envie d'insolite
				</h2>
			</article>
			<div class="imgDestination">

				<div>
					<a href="{{ path('baseLogement') ~ images.id_logement }}">

						<img src="{{ asset('/img/logement/' ~ images.thumbnail) }}" alt="{{images.type}}">
					</a>

					<h4>{{images.type}}</h4>

				</div>

				<div>
					<a href="{{ path('baseLogement') ~ imagesDome.id_logement }}">
						<img src="{{ asset('/img/' ~ imagesDome.thumbnail) }}" alt="{{imagesDome.type}}">
					</a>

					<h4>{{imagesDome.type}}</h4>

				</div>

				<div>
					<a href="{{ path('baseLogement') ~ imagesPeniche.id_logement }}">
						<img src="{{ asset('/img/' ~ imagesPeniche.thumbnail) }}" alt="{{imagesPeniche.type}}">
					</a>

					<h4>{{imagesPeniche.type}}</h4>

				</div>

				<div>
					<a href="{{ path('baseLogement') ~ imagesYourte.id_logement }}">
					<img src="{{ asset('/img/' ~ imagesYourte.thumbnail) }}" alt="{{imagesYourte.type}}">
					</a>

					<h4>{{imagesYourte.type}}</h4>

				</div>

			</div>
		</div>
	</section>
{% endblock %}
