{% extends "template.html.twig" %}


{% block title %}
	HomeAway
{% endblock %}
{% block content %}
	<section id="hero">
		<figure>
			<img src="{{asset('/img/heroMontainPhone.jpg')}}" alt=""></figure>
		<h1>Détendez-vous et explorez !</h1>
		<div id="searchBoxDesktop">
			<form action="POST" id="searchformDesktop">
				<div class="searchFormBox">
					<label for="city">Destination</label>
					<input type="text" name="city" id="city">
				</div>
				<div class="searchFormBox">
					<label for="start_date">Date d'arrivée</label>
					<input type="date" name="start_date" id="start_date">
				</div>
				<div class="searchFormBox">
					<label for="end_date">Date de retour</label>
					<input type="date" name="end_date" id="end_date">
				</div>
				<div class="searchFormBox">
					<label for="number_of_person">Voyageurs</label>
					<input type="number" name="number_of_person" id="number_of_person">
				</div>
				<div id="buttonSearch">
					<input type="submit" value="Rechercher">
				</div>
			</form>
		</div>

	</section>

	<section id="destination" class="row-limit-size">
		<div class="destinationContainer">
			<article class="articleDestination">
				<img src="{{asset('/img/orangeLogo.png')}}" alt="logo orange">
				<h2 class="titleDestination">Envie de plage
				</h2>
			</article>
			<div class="imgDestination">
			<a href='{{path('search')}}'><img src="{{asset('/img/montpellier.png')}}" alt="Montpellier"></a>
			<img src="{{asset('/img/Marseille.png')}}" alt="Marseille">
			<img src="{{asset('/img/MontStMichelle.png')}}" alt="Mont saint Michel">
			<img src="{{asset('/img/StMalo.png')}}" alt="Saint Mallo">
			</div>
		</div>
		<div class="destinationContainer">
			<article class="articleDestination">
				<img src="{{asset('/img/greenLogo.png')}}" alt="logo vert">
				<h2 class="titleDestination">Envie de plage
				</h2>
			</article>
			<div class="imgDestination">
			<img src="{{asset('/img/ValThorrens.png')}}" alt="Val Thorens">
			<img src="{{asset('/img/ChamonixMtBlanc.png')}}" alt="Chamonix-Mont-Blanc">
			<img src="{{asset('/img/Saorge.png')}}" alt="Saorge">
			<img src="{{asset('/img/Castelnou.png')}}" alt="Castelnou">
			</div>
		</div>
		<div class="destinationContainer">
			<article class="articleDestination">
				<img src="{{asset('/img/redLogo.png')}}" alt="logo rouge">
				<h2 class="titleDestination">Envie de plage
				</h2>
			</article>
			<div class="imgDestination">
			<img src="{{asset('/img/Peniche.png')}}" alt="Péniche">
			<img src="{{asset('/img/Tipi.png')}}" alt="Tipi">
			<img src="{{asset('/img/Yourte.png')}}" alt="Yourte">
			<img src="{{asset('/img/Cabane.png')}}" alt="Cabane">
			</div>
		</div>
	</section>
{% endblock %}
