{% extends "template.html.twig" %}

{% block title %}
    HomeAway
{% endblock %}

{% block content %}
    <section id="logements">
        <h2>Tous les logements</h2>
        {% for logement in logements %}
            <div class="logement">
			<li>
				<a href="{{ path('logements') }}{{ logement.title }}</a>
			</li>
                {# <h3>{{ logement.title }}</h3> #}
                <p>Nombre de personnes : {{ logement.number_of_person }}</p>
                <p>Ville : {{ logement.id_ville }}</p>
            </div>
        {% endfor %}
    </section>
{% endblock %}
