{% extends "template.html.twig" %}

{% block title %}
	HomeAway logement details
{% endblock %}


{% block content %}
	<section id="oneLogement" class="row-limit-size">
		<div id="firstPartOne">
			<article>
				<div id="slider">
					<div id="window-slider">
						<div id="list-slide">

							{% for oneImg in allImg %}
								<div class="slide">
									<img src="{{ asset('/img/logement/' ~ oneImg.thumbnail) }}" alt="{{ oneImg.thumbnail }}">

								</div>
							{% endfor %}


						</div>
					</div>
				</div>
				<div id="boxGallery">
					<div id="bigImg">
						<img class="imgTop" src="{{asset('/img/logement/' ~ allImg[0].thumbnail)}}" alt="nom de l'image">
					</div>
					<div id="scrollbar">
						{% for oneImg in allImg %}
							<img class="imgGallery" src="{{ asset('/img/logement/' ~ oneImg.thumbnail) }}" alt="{ oneImg.thumbnail }}">

						{% endfor %}
					</div>
				</div>
				<h4>
					{{onelogement.title}}
					-
					{{onelogement.type}}</h4>
				<p>
					{{onelogement.number_of_person}}
					voyageurs maximum -
					{{onelogement.number_of_beds}}
					lit(s)</p>
			</article>

			<div id="cancel">
				<img src="{{asset('/img/iconCalendar.png')}}" alt="icon calendrier">
				<p>Annulation gratuite 5j avt</p>
			</div>
			<article id="about">
				<h4>A propos de ce logement :</h4>
				<p>{{onelogement.description}}</p>
			</article>
			<div id="boxFilter">
				<h4>Ce que contient ce logement :</h4>
				{% if onelogement.wifi == true %}
					<div class="convenience">
						<img src="{{asset('/img/wifi.png')}}" alt="icon wifi">
						<p>Wifi</p>
					</div>
				{% endif %}
				{% if onelogement.home_textil == true %}
					<div class="convenience">
						<img src="{{asset('/img/linge.png')}}" alt="icon linge">
						<p>Linge de maison</p>
					</div>
				{% endif %}
				{% if onelogement.kitchen == true %}
					<div class="convenience">
						<img src="{{asset('/img/kitchen.png')}}" alt="icon cuisine">
						<p>Cuisine</p>
					</div>
				{% endif %}
				{% if onelogement.animals == true %}
					<div class="convenience">
						<img src="{{asset('/img/pate.png')}}" alt="icon pate">
						<p>Animaux</p>
					</div>
				{% endif %}
				{% if onelogement.tv == true %}
					<div class="convenience">
						<img src="{{asset('/img/tv.png')}}" alt="icon tv">
						<p>TV</p>
					</div>
				{% endif %}
				{% if onelogement.climatisation == true %}
					<div class="convenience">
						<img src="{{asset('/img/climatisation.png')}}" alt="icon climatisation">
						<p>Climatisation</p>
					</div>
				{% endif %}
				{% if onelogement.garden == true %}
					<div class="convenience">
						<img src="{{asset('/img/garden.png')}}" alt="icon jardin">
						<p>Jardin</p>
					</div>
				{% endif %}
				{% if onelogement.spa == true %}
					<div class="convenience">
						<img src="{{asset('/img/spa.png')}}" alt="icon spa">
						<p>Spa</p>
					</div>
				{% endif %}
				{% if onelogement.jacuzzi == true %}
					<div class="convenience">
						<img src="{{asset('/img/jacuzzi.png')}}" alt="icon jacuzzi">
						<p>Jacuzzi</p>
					</div>
				{% endif %}
				{% if onelogement.camera == true %}
					<div class="convenience">
						<img src="{{asset('/img/camera.png')}}" alt="icon caméra">
						<p>Caméra de surveillance</p>
					</div>
				{% endif %}
				{% if onelogement.piscine == true %}
					<div class="convenience">
						<img src="{{asset('/img/swimmingpool.png')}}" alt="icon piscine">
						<p>Piscine</p>
					</div>
				{% endif %}
				{% if onelogement.parking == true %}
					<div class="convenience">
						<img src="{{asset('/img/iconParking.png')}}" alt="icon parking">
						<p>Parking
						</p>
					</div>
				{% endif %}
			</div>
			<h4>Calendrier</h4>
			<div id="calendar"></div>
			<div id="locationOne">
				<h4>Location</h4>
				<div id="map" class="item js-marker map" data-lat="43.57639" data-lng="3.96309" data-price="58"></div>
			</div>
			<button class="button">Contacter l'hôte</button>

		</div>
		<form action="{{path('reservation')}}" method="POST" id="secondPartOne">

			<h4>
				<strong id="priceByNight">
					€</strong>
				par nuit</h4>
			<input type="date" name="start_date" id="startDate" value="">
			<input type="date" name="end_date" id="endDate" value="">
			<p>
				<strong id="numberOfPerson"></strong>
				personne(s)</p>
			<p>
				<strong id="totalPrices"></strong>
				€ au total</p>

			
			<input type="hidden" name="id_person" id="id_person" value="{{session.id_person}}">

			<input type="hidden" name="id_logement" id="id_logement" value="">

			<input class="button" type="submit" name="submit" value="Réserver" onclick="showConfirmation()">
		</form>


	</section>
	<script>
	function showConfirmation() {
    const start_date = document.getElementById("start_date").value;
    const end_date = document.getElementById("end_date").value;
    const id_person = document.getElementById("id_person").value;
    const id_logement = document.getElementById("id_logement").value;

    
    document.getElementById("start_date").value = start_date;
    document.getElementById("end_date").value = end_date;
    document.getElementById("id_person").value = id_person;
    document.getElementById("id_logement").value = id_logement;

    const confirmation = confirm("Êtes-vous sûr de vouloir effectuer cette réservation ?");
    if (confirmation) {
        const message = "Votre réservation a bien été prise en compte.";
        alert(message);
        // Vous pouvez également rediriger l'utilisateur vers une autre page ici si nécessaire
        document.getElementById("secondPartOne").submit();
    }
}
	</script>
	<script>
		const books = {{ books|json_encode|raw }}
	</script>
	<script src="{{asset('/js/slide.js')}}"></script>
	<script src="{{asset('/js/scrollx.js')}}"></script>
	<script src="{{asset('/js/localStorage.js')}}"></script>

	<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJOi0dF-SaAfjQDQogCfi0Ns5BDtZcJJU"></script>

	<script src="{{asset('/js/vendor.js')}}"></script>
	<script src="{{asset('/js/map.js')}}"></script>

	<script src="{{asset('/js/calendar.js')}}"></script>
{% endblock %}