{% extends "template.html.twig" %}

{% block title %}
	HomeAway logement details
{% endblock %}


{% block content %}
	<section id="oneLogement" class="row-limit-size">
		<div id="firstPartOne">
			<article>
				<div id="slider">
					<div id="window-slider">
						<div
							id="list-slide">
							{# boucle slide #}
							<div class="slide">
								<img src="{{asset('/img/logement/appartementMarseille1.1.webp')}}" alt="nom de l'image">

							</div>
							<div class="slide">
								<img src="{{asset('/img/logement/appartementMarseille1.6.webp')}}" alt="nom de l'image">

							</div>
							<div class="slide">
								<img src="{{asset('/img/logement/appartementMarseille1.1.webp')}}" alt="nom de l'image">

							</div>
							<div class="slide">
								<img src="{{asset('/img/logement/appartementMarseille1.6.webp')}}" alt="nom de l'image">

							</div>
							<div class="slide">
								<img src="{{asset('/img/logement/appartementMarseille1.1.webp')}}" alt="nom de l'image">

							</div>
						</div>
					</div>
				</div>
				<h4>
					titre - type - Chez prenom</h4>
				<p>
					nb de voyageurs - nb lit</p>
			</article>

			<div id="cancel">
				<img src="{{asset('/img/iconCalendar.png')}}" alt="icon calendrier">
				<p>Annulation gratuite 5j avt</p>
			</div>
			<article id="about">
				<h4>A propos de ce logement :</h4>
				<p>Logement T2 au premier étage en centre ville à côté de la Gare St Roch, à 3-4 min à pied. Le logement dispose d'une petite chambre avec un lit 2 places. Le salon est ouvert sur la cuisine et dispose d'un tout petit balcon donnant sur la rue. Plusieurs arrêts de tram et de bus sont à côté du logement, les plus proches étant Observatoire et Gare St Roch. Epicerie, Tabac, Carrefour accessible à 50 mètres. Le logement est ancien et parfait pour un passage à Montpellier. Ne convient pas aux enfants.</p>
			</article>
			<div id="boxFilter">
				<h4>Ce que contient ce logement :</h4>

				<div class="convenience">
					<img src="{{asset('/img/wifi.png')}}" alt="icon wifi">
					<p>Wifi</p>
				</div>
				<div class="convenience">
					<img src="{{asset('/img/linge.png')}}" alt="icon linge">
					<p>Linge de maison</p>
				</div>
				<div class="convenience">
					<img src="{{asset('/img/kitchen.png')}}" alt="icon cuisine">
					<p>Cuisine</p>
				</div>
				<div class="convenience">
					<img src="{{asset('/img/pate.png')}}" alt="icon pate">
					<p>Animaux</p>
				</div>
				<div class="convenience">
					<img src="{{asset('/img/tv.png')}}" alt="icon tv">
					<p>TV</p>
				</div>
				<div class="convenience">
					<img src="{{asset('/img/climatisation.png')}}" alt="icon climatisation">
					<p>Climatisation</p>
				</div>
				<div class="convenience">
					<img src="{{asset('/img/garden.png')}}" alt="icon jardin">
					<p>Jardin</p>
				</div>
				<div class="convenience">
					<img src="{{asset('/img/spa.png')}}" alt="icon spa">
					<p>Spa</p>
				</div>
				<div class="convenience">
					<img src="{{asset('/img/jacuzzi.png')}}" alt="icon jacuzzi">
					<p>Jacuzzi</p>
				</div>
				<div class="convenience">
					<img src="{{asset('/img/camera.png')}}" alt="icon caméra">
					<p>Caméra de surveillance</p>
				</div>
				<div class="convenience">
					<img src="{{asset('/img/swimmingpool.png')}}" alt="icon piscine">
					<p>Piscine</p>
				</div>
				<div class="convenience">
					<img src="{{asset('/img/iconParking.png')}}" alt="icon parking">
					<p>Parking
					</p>
				</div>
			</div>
			<h4>Calendrier</h4>
			<div id="calendar"></div>
			<div id="locationOne">
				<h4>Location</h4>
				<div id="map" class="item js-marker map" data-lat="43.57639" data-lng="3.96309" data-price="58"></div>
			</div>
			<button class="button">Contacter l'hôte</button>

		</div>
		<form id="secondPartOne">
			<h4>
				<strong>46 €</strong>
				par nuit</h4>
			<p>Du
				<strong>1 août 2023</strong>
				ou
				<strong>6 août 2023</strong>
			</p>
			<p>
				<strong>1</strong>
				personne(s)</p>
			<input class="button" type="submit" value="Réserver">

		</form>


	</section>

	<script src="{{asset('/js/slide.js')}}"></script>
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJOi0dF-SaAfjQDQogCfi0Ns5BDtZcJJU"></script>

	<script src="{{asset('/js/vendor.js')}}"></script>
	<script src="{{asset('/js/map.js')}}"></script>

	<script src="{{asset('/js/calendar.js')}}"></script>
{% endblock %}
