{% extends "template.html.twig" %}

{% block title %}
	HomeAway logement
{% endblock %}


{% block content %}

	<section id="resultResearch">
		<div id="resumSearchPhone">
			<ul>
				<li>Destination :
					<span>Montpellier</span>
				</li>
				<li>Date :
					<span>1 aôut 2023 au 6 août 2023</span>
				</li>
				<li>Nombre de personne :
					<span>1</span>
				</li>
			</ul>
		</div>
		<div class="searchBoxDesktop">
			<form action="{{path('search')}}" class="searchformDesktop">
				<div class="searchFormBox">
					<label for="city">Destination</label>
					<input type="text" name="city" id="city">
				</div>
				<div class="searchFormBox">
					<label for="start_date">Date d'arrivée</label>
					<input type="date" name="start_date" id="start_date">
				</div>
				<div class="searchFormBox">
					<label for="end_date">Date de retour</label>
					<input type="date" name="end_date" id="end_date">
				</div>
				<div class="searchFormBox">
					<label for="number_of_person">Voyageurs</label>
					<input type="number" name="number_of_person" id="number_of_person">
				</div>
				<div id="buttonSearch">
					<input type="submit" value="Modifier">
				</div>
			</form>
		</div>
		<figure id="filter">
			<img src="{{asset('/img/filter.png')}}" alt="filtre">
		</figure>
		<form action="GET" id="formFilter">
			<div class="convenience">
				<input type="checkbox" id="wifi" name="wifi">
				<img src="{{asset('/img/wifi.png')}}" alt="icon wifi">
				<label for="wifi">Wifi</label>
			</div>

			<div class="convenience">
				<input type="checkbox" id="home_textile" name="home_textile">
				<img src="{{asset('/img/linge.png')}}" alt="icon linge">
				<label for="home_textile">Linge de maison</label>
			</div>

			<div class="convenience">
				<input type="checkbox" id="kitchen" name="kitchen">
				<img src="{{asset('/img/kitchen.png')}}" alt="icon cuisine">
				<label for="kitchen">Cuisine</label>
			</div>

			<div class="convenience">
				<input type="checkbox" id="animals" name="animals">
				<img src="{{asset('/img/pate.png')}}" alt="icon pate">
				<label for="Wifi">Animaux autorisés</label>
			</div>

			<div class="convenience">
				<input type="checkbox" id="tv" name="tv">
				<img src="{{asset('/img/tv.png')}}" alt="icon tv">
				<label for="tv">TV</label>
			</div>

			<div class="convenience">
				<input type="checkbox" id="climatisation" name="climatisation">
				<img src="{{asset('/img/climatisation.png')}}" alt="icon climatisation">
				<label for="climatisation">Climatisation</label>
			</div>

			<div class="convenience">
				<input type="checkbox" id="garden" name="garden">
				<img src="{{asset('/img/garden.png')}}" alt="icon jardin">
				<label for="garden">Jardin</label>
			</div>

			<div class="convenience">
				<input type="checkbox" id="spa" name="spa">
				<img src="{{asset('/img/spa.png')}}" alt="icon spa">
				<label for="spa">Spa</label>
			</div>

			<div class="convenience">
				<input type="checkbox" id="jacuzzi" name="jacuzzi">
				<img src="{{asset('/img/jacuzzi.png')}}" alt="icon jacuzzi">
				<label for="jacuzzi">Jacuzzi</label>
			</div>
			<div class="convenience">
				<input type="checkbox" id="piscine" name="piscine">
				<img src="{{asset('/img/swimmingpool.png')}}" alt="icon piscine">
				<label for="piscine">piscine</label>
			</div>

			<div class="convenience">
				<input type="checkbox" id="camera" name="camera"><img src="{{asset('/img/camera.png')}}" alt="icon caméra">
				<label for="camera">Caméra de surveillance</label>
			</div>


			<div class="convenience">
				<input type="checkbox" id="parking" name="parking">
				<img src="{{asset('/img/iconParking.png')}}" alt="icon parking">
				<label for="parking">parking</label>
			</div>

		</form>
		<div id="containerResultSearch">
			<div id="map"></div>

		</div>


		
		<div class="listResult">
			
    {% for logement in logements %}
        <article class="postSearch">
            <img src="{{ asset('/img/logement/appartMontpellier1.1.webp') }}" alt="appartement montpellier">
            <h4>{{ logement.title }}</h4>
            <p>{{ logement.description }}</p>
            <p>{{ book.start_date }} {{ book.end_date }}</p>
            <p><span>{{ logement.price_by_night }}€ </span>par nuit - &nbsp; {{ logement.price_by_night }}€ au total</p>
        </article>
    {% endfor %}

</div>



			<div class="listResult">
				{# {% for logement in logements %} #}
				<article class="postSearch">
					<img src="{{asset('/img/logement/appartMontpellier1.1.webp')}}" alt="appartement montpelier">
					<h4>Appartement &nbsp;-&nbsp;Montpellier</h4>
					<p>
						Début description</p>
					<p>
						<span>58€
						</span>par nuit - &nbsp; 294€ au total</p>
				</article>
				<article class="postSearch">
					<img src="{{asset('/img/logement/appartMontpellier1.1.webp')}}" alt="appartement montpelier">
					<h4>Appartement &nbsp;-&nbsp;Montpellier</h4>
					<p>
						Début description</p>
					<p>
						<span>58€
						</span>par nuit - &nbsp; 294€ au total</p>
				</article>
				<article class="postSearch">
					<img src="{{asset('/img/logement/appartMontpellier1.1.webp')}}" alt="appartement montpelier">
					<h4>Appartement &nbsp;-&nbsp;Montpellier</h4>
					<p>
						Début description</p>
					<p>
						<span>58€
						</span>par nuit - &nbsp; 294€ au total</p>
				</article>
				<article class="postSearch">
					<img src="{{asset('/img/logement/appartMontpellier1.1.webp')}}" alt="appartement montpelier">
					<h4>Appartement &nbsp;-&nbsp;Montpellier</h4>
					<p>
						Début description</p>
					<p>
						<span>58€
						</span>par nuit - &nbsp; 294€ au total</p>
				</article>
				{# {% endfor %} #}
			</div>
		</div>

	</section>

{% endblock %}
