{% extends "template.html.twig" %}

{% block title %}
	HomeAway logement
{% endblock %}


{% block content %}

	<section id="resultResearchPhone">
		<div id="resumSearchPhone">
			<ul>
				<li>Destination :
					<span>Montpellier</span>
				</li>
				<li>Date :
					<span>1 aôut 2023 au 6 août 2023</span>
				</li>
				<li>Nombre de personne :
					<span>1</span>
				</li>
			</ul>
		</div>
		<figure id="filter">
			<img src="{{asset('/img/filter.png')}}" alt="filtre">
		</figure>
		<div id="containerResultSearch">
			<div id="map"></div>
		</div>


		
		<div class="listResult">
			
    {% for logement in logements %}
        <article class="postSearch">
            <img src="{{ asset('/img/logement/appartMontpellier1.1.webp') }}" alt="appartement montpellier">
            <h4>{{ logement.title }}</h4>
            <p>{{ logement.description }}</p>
            <p>{{ book.start_date }} {{ book.end_date }}</p>
            <p><span>{{ logement.price_by_night }}€ </span>par nuit - &nbsp; {{ logement.price_by_night }}€ au total</p>
        </article>
    {% endfor %}

</div>

	</section>

{% endblock %}
