<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{asset('/font/font.css')}}">
		<link rel="stylesheet" href="{{asset('/css/style.css')}}">
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
		<link rel="preconnect" href="https://fonts.googleapis.com">

		<title>
			{% block title %}{% endblock %}
		</title>
	</head>
	<body>
		{%  include 'header.html.twig' %}
		{% block content %}
		
		{% endblock %}
		{% include 'footer.html.twig' %}
		
		<script src="{{asset('/js/main.js')}}"></script>
		<script src="{{ asset('/js/dashboard.js') }}"></script>
		
		{% if session.connect is defined and session.connect == true %}
			<script src="{{asset('/js/login.js')}}"></script>
		{% else %}
			<script src="{{asset('/js/logout.js')}}"></script>
		{% endif %}
	</body>
</html>
