<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ asset('/css/dashboard.css') }}">
		<link rel="stylesheet" href="{{ asset('/css/style.css') }}">
		<link rel="stylesheet" href="{{ asset('/font/font.css') }}">

		<title>
			{% block title %}{% endblock %}
		</title>
	</head>
	<body>

		{% block content %}
			<div class='content'>
				<nav id='navDash'>
					<ul>
						<li id='info'>
							<ul>
								<li id='infoPerso' class='liInfo'>
									<figure class='icon'>
										<img src="{{ asset('/img/🦆 icon _person_.png') }}" alt="icon _person">
									</figure>
								</li>
								<li id='perso' class='liInfo'>
									<figure class='icon'>
										<img id='iconInfo' src="{{ asset('/img/Perso.png') }}" alt="Perso">
									</figure>
								</li>
								<li id='historic' class='liInfo'>
									<figure class='icon'>
										<img src="{{ asset('/img/group.png') }}" alt="group">
									</figure>
								</li>


								<li id='gestionBien' class='liInfo'>
									<figure class='icon'>
										<img src="{{ asset('/img/gestion.png') }}" alt="Perso">
									</figure>
								</li>
								<li id='ajouterBien' class='liInfo'>
									<figure class='icon'>
										<img src="{{ asset('/img/ajouter.png') }}" alt="add house">
									</figure>
								</li>
								<li id='gestionReservation' class='liInfo'>
									<figure class='icon'>
										<img src="{{ asset('/img/gestionReservation.png') }}" alt="reservation">
									</figure>
								</li>


							</ul>
						</li>
						<li id='like'>
							<figure class='icon' id='iconLike'>
								<img src="{{ asset('/img/🦆 icon _heart_.png') }}" alt="">
							</figure>
						</li>
						<li id='resevations'>
							<figure class='icon'>
								<img src="{{ asset('/img/reservation.png') }}" alt="">
							</figure>
						</li>
						<li id='messagerie'>
							<figure class='icon'>
								<img id='imgMesagerie' src="{{ asset('/img/iconMessage.png') }}" alt="">
							</figure>
						</li>
					</ul>
				</nav>
				<div class='contentPage' id='contentInfoPerso'>
					<div class='card cardInfoPerso cardInfoPersoM'>
						<div class='contentFixCard contentFixCardInfoPerso'>
							<div>
								<h3>Nom légal</h3>
								<p>Nom de bdd</p>

							</div>

							<figure class="figureModifier figureModifierInfo">
								<img class="imgModifier imgModifierInfo" src="{{ asset('/img/exchange.png') }}" alt="">
							</figure>
						</div>

						<div class='input inputInfo input2info height'>
							<input type="text" class'changetext' placeholder="Votre nom...">
							<input type="text" class'changetext' placeholder="Votre prenom...">
							<input type="submit" name="valider" class="valider" value="">
						</div>
					</div>

					<div class='card cardInfoPerso cardInfoPersoM'>
						<div class='contentFixCard contentFixCardInfoPerso'>
							<div>
								<h3>Adresse mail</h3>
								<p>Mail de bdd</p>

							</div>

							<figure class="figureModifier figureModifierInfo">
								<img class="imgModifier imgModifierInfo" src="{{ asset('/img/exchange.png') }}" alt="">
							</figure>
						</div>
						<div class='input inputInfo height'>

							<input type="text" class'changetext' placeholder="Votre mail...">
							<input type="submit" name="valider" class="valider" value="">
						</div>
					</div>

					<div class='card cardInfoPerso cardInfoPersoM'>
						<div class='contentFixCard contentFixCardInfoPerso'>
							<div>
								<h3>Numero de telophone</h3>
								<p>Tel de bdd</p>

							</div>

							<figure class="figureModifier figureModifierInfo">
								<img class="imgModifier imgModifierInfo" src="{{ asset('/img/exchange.png') }}" alt="">
							</figure>
						</div>
						<div class='input inputInfo height'>

							<input type="text" class'changetext' placeholder="Votre numero de telephone...">
							<input type="submit" name="valider" class="valider" value="">
						</div>
					</div>

					<div class='card cardInfoPerso cardInfoPersoM card2ligneInfoPerso'>
						<div class='contentFixCard contentFixCardInfoPerso'>
							<div>
								<h3>Adresse</h3>
								<p>Adresse de bdd</p>
							</div>
							<figure class="figureModifier figureModifierInfo">
								<img class="imgModifier imgModifierInfo" src="{{ asset('/img/exchange.png') }}" alt="">
							</figure>
						</div>
						<div class='input inputInfo input2ligne'>
							<input type="text" class'changetext' placeholder="Votre rue">
							<input type="text" class'changetext' placeholder="N° de batiment">
							<input type="text" class'changetext' placeholder="code postale">
							<input type="text" class'changetext' placeholder="ville">
							<input type="submit" name="valider" class="valider" value="">
						</div>
					</div>

				</div>
				<div class='contentPage'>
					<h1>Historique des réservations</h1>
					<div class='divBarreDeRecherche'>
						<form action="" method='GET'>
							<input type="search" name='search' placeholder='Rechercher...' id='searchHistoric'>
							<input type="submit" name='rechercher' value id='rechercherHistoric' class='valider'>
						</form>
					</div>
					<div class='card cardInfoPerso cardHG'>
						<div class='cardContentLeft'>
							<figure>
								<img src="{{ asset('/img/montpellier.jpg') }}" alt="">
							</figure>
						</div>
						<div class='cardContentRight'>
							<div class='oneRightContent'>
								<h2>
									Nom de logement de la bdd</h2>
							</div>
							<div class='oneRightContent'>
								<figure class="iconRightContent">
									<img id="iconReservationHistoric" src="{{ asset('/img/calendar.png') }}" alt="">
								</figure>
								<p class='dateRightContent infoRightContent'>du 00/00/0000 au 00/00/0000</p>
							</div>
							<div class='oneRightContent'>
								<figure class="iconRightContent">
									<img id="iconAvis" src="{{ asset('/img/avis-client.png') }}" alt="">
								</figure>
								<button class='avis infoRightContent'>
									<span>Laiser votre avis</span>
								</button>

							</div>
						</div>
					</div>
				</div>

				<div class='contentPage'>
					<h1>Gestion des bien</h1>
					<div class='card cardHG cardH cardInfoPerso'>
						<div class='contentCardGestion'>
							<div class='cardContentLeft'>
								<figure>
									<img src="{{ asset('/img/montpellier.jpg') }}" alt="">
								</figure>
							</div>
							<div class='cardContentRight cardContentRightWithButton'>
								<div class="oneRightContent oneRightContentGestion">
									<h2>
										Nom de logement de la bdd
									</h2>
								</div>
								<div class="oneRightContent oneRightContentGestion">
									<figure class="iconRightContent">
										<img id="iconReservationHistoric" src="{{ asset('/img/emplacement 1.png') }}" alt="">
									</figure>
									<p class='infoRightContent'>Adresse de la bdd</p>
								</div>
								<div class="oneRightContent oneRightContentGestion">
									<figure class="iconRightContent">
										<img id="iconReservationHistoric" src="{{ asset('/img/lit.png') }}" alt="">
									</figure>
									<p class='infoRightContent'>nombre de lits de la bdd</p>
								</div>
								<div class="oneRightContent oneRightContentGestion">
									<figure class="iconRightContent">
										<img id="iconReservationHistoric" src="{{ asset('/img/reservation1.png') }}" alt="">
									</figure>
									<p class='infoRightContent'>nombre de reservations</p>
								</div>
								<figure class="figureModifier figureModifierGestion">
									<img class="imgModifierGestion" src="{{ asset('/img/exchange.png') }}" alt="">
								</figure>
							</div>


						</div>
						<div class="input inputGestion">
							<div class="contentInput">
								<div class='infoLogement'>
									<div class='infoSaisis'>
										<figure class='contentInfoGestion iconeInputGestion'>
											<img id="iconReservationHistoric" src="{{ asset('/img/emplacement 1.png') }}" alt="">
										</figure>
										<div class='contentInfoGestion 2ndIfo'>
										<p>Info de bdd</p>
										</div>
										<figure class='contentInfoGestion modifierInfo'>
										<img src="{{ asset('/img/exchange.png') }}" alt="">
										</figure>
									</div>
									<div class='infoModifie'></div>
								</div>
							</div>
							<div class="contentInput"></div>
						</div>

					</div>

				</div>

			</div>
		</body>
	</html>
</div></body></html></div>{% endblock %}{% block js %}<script src="{{ asset('/js/dashboard.js') }}"></script>{% endblock %}</body></html>
