<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ asset('/css/dashboard.css') }}">
		<link rel="stylesheet" href="{{ asset('/css/style.css') }}">
		<link rel="stylesheet" href="{{ asset('/font/font.css') }}">

		<title>
			{% block title %}{% endblock %}
		</title>
	</head>
	<body>

		{% block content %}
			<div class='content'>
				<nav id='navDash'>
					<ul>
						<li id='info'>
							<ul>
								<li id='infoPerso' class='liInfo clickInfo'>
									<figure class='icon'>
										<img src="{{ asset('/img/🦆 icon _person_.png') }}" alt="icon _person">
									</figure>
								</li>
								<li id='perso' class='liInfo clickInfo'>
									<figure class='icon'>
										<img id='iconInfo' src="{{ asset('/img/Perso.png') }}" alt="Perso">
									</figure>
								</li>
								<li id='historic' class='liInfo clickInfo'>
									<figure class='icon'>
										<img src="{{ asset('/img/group.png') }}" alt="group">
									</figure>
								</li>


								<li id='gestionBien' class='liInfo clickInfo'>
									<figure class='icon'>
										<img src="{{ asset('/img/gestion.png') }}" alt="Perso">
									</figure>
								</li>
								<li id='ajouterBien' class='liInfo clickInfo'>
									<figure class='icon'>
										<img src="{{ asset('/img/ajouter.png') }}" alt="add house">
									</figure>
								</li>
								<li id='gestionReservation' class='liInfo clickInfo'>
									<figure class='icon'>
										<img src="{{ asset('/img/gestionReservation.png') }}" alt="reservation">
									</figure>
								</li>


							</ul>
						</li>
						<li id='like'>
							<figure class='icon' id='iconLike'>
								<img src="{{ asset('/img/🦆 icon _heart_.png') }}" alt="">
							</figure>
						</li>
						<li id='resevations' class='clickInfo'>
							<figure class='icon'>
								<img src="{{ asset('/img/reservation.png') }}" alt="">
							</figure>
						</li>
						<li id='messagerie'>
							<figure class='icon'>
								<img id='imgMesagerie' src="{{ asset('/img/iconMessage.png') }}" alt="">
							</figure>
						</li>
					</ul>
				</nav>
				<a href='{{path('home')}}' class='logoDash'>
					<img src="{{ asset('/img/logoDash.png') }}" alt="">
				</a>
				<div class='contentPage' id='contentInfoPerso'>
					<div class='card cardInfoPerso cardInfoPersoM'>
						<div class='contentFixCard contentFixCardInfoPerso'>
							<div>
								<h3>Nom légal</h3>
								<p>{{user.firstname}} {{user.name}}</p>

							</div>

							<figure class="figureModifier figureModifierInfo">
								<img class="imgModifier imgModifierInfo" src="{{ asset('/img/exchange.png') }}" alt="">
							</figure>
						</div>

						<div class='input inputInfo input2info height'>
							<form action="" method="post">
								<label for="lastname"></label>
								<input type="text" class='change' name="lastname" placeholder="Votre nom...">
								<label for="firstname"></label>
								<input type="text" class='change' name="firstname" placeholder="Votre prenom...">
								<input type="submit" name="valider" class="valider change" value="">
							</form>

						</div>
					</div>

					<div class='card cardInfoPerso cardInfoPersoM'>
						<div class='contentFixCard contentFixCardInfoPerso'>
							<div>
								<h3>Adresse mail</h3>
								<p>{{user.mail}}</p>

							</div>

							<figure class="figureModifier figureModifierInfo">
								<img class="imgModifier imgModifierInfo" src="{{ asset('/img/exchange.png') }}" alt="">
							</figure>
						</div>
						<div class='input inputInfo height'>
							<form action="" method="post">
								<label for="mail"></label>
								<input type="text" name='name' class='change' placeholder="Votre mail...">
								<input type="submit" name="valider" class="valider change" value="">
							</form>
						</div>
					</div>

					<div class='card cardInfoPerso cardInfoPersoM'>
						<div class='contentFixCard contentFixCardInfoPerso'>
							<div>
								<h3>Numero de telophone</h3>
								<p>{{user.phone_number}}</p>

							</div>

							<figure class="figureModifier figureModifierInfo">
								<img class="imgModifier imgModifierInfo" src="{{ asset('/img/exchange.png') }}" alt="">
							</figure>
						</div>
						<div class='input inputInfo height'>

							<form action="" method="post">
								<label for="tel"></label>
								<input type="text" name='tel' class='change' placeholder="Votre numero de telephone...">
								<input type="submit" name="valider" class="valider change" value="">
							</form>
						</div>
					</div>

					<div class='card cardInfoPerso cardInfoPersoM card2ligneInfoPerso'>
						<div class='contentFixCard contentFixCardInfoPerso'>
							<div>
								<h3>Date de naissance</h3>
								<p>{{user.date_of_birth}}</p>
							</div>
							<figure class="figureModifier figureModifierInfo">
								<img class="imgModifier imgModifierInfo" src="{{ asset('/img/exchange.png') }}" alt="">
							</figure>
						</div>
						<div class='input inputInfo input2ligne'>
							<form action="" method="post">
								<label for="rue"></label>
								<input type="text" name="rue" class='change' placeholder="Votre rue">
								<label for="numeroBatiment"></label>
								<input type="text" name='numeroBatiment' class='change' placeholder="N° de batiment">
								<label for="codePostale"></label>
								<input type="text" name='codePostale' class='change' placeholder="code postale">
								<label for="ville"></label>
								<input type="text" name='ville' class='change' placeholder="ville">
								<input type="submit" name="valider" class="valider change" value="">
							</form>
						</div>
					</div>

				</div>
				<div class='contentPage' id='contentHistoricReservation'>
					<h1>Historique des réservations</h1>
					<div class='divBarreDeRecherche'>
						<form action="" method='GET'>
							<input type="search" name='search' placeholder='Rechercher...' class='search'>
							<input type="submit" name='rechercher' value class='rechercher' class='valider change'>
						</form>
					</div>
					<div class='card cardInfoPerso cardHG'>
						<div class='cardContentLeft'>
							<figure>
								<img src="{{ asset('/img/montpellier.jpg') }}" alt="">
							</figure>
						</div>
						<div class='cardContentRight'>
							<div class='oneRightContent'>
								<h2>
									Nom de logement de la bdd</h2>
							</div>
							<div class='oneRightContent'>
								<figure class="iconRightContent">
									<img id="iconReservationHistoric" src="{{ asset('/img/calendar.png') }}" alt="">
								</figure>
								<p class='dateRightContent infoRightContent'>du 00/00/0000 au 00/00/0000</p>
							</div>
							<div class='oneRightContent'>
								<figure class="iconRightContent">
									<img id="iconAvis" src="{{ asset('/img/avis-client.png') }}" alt="">
								</figure>
								<button class='avis infoRightContent'>
									<span>Laiser votre avis</span>
								</button>

							</div>
						</div>
					</div>
				</div>

				<div class='contentPage' id='contentGestionLogement'>
					<h1>Gestion des bien</h1>
					<div class='card cardHG cardH cardInfoPerso'>
						<div class='contentCardGestion'>
							<div class='cardContentLeft'>
								<figure>
									<img src="{{ asset('/img/montpellier.jpg') }}" alt="">
								</figure>
							</div>
							<div class='cardContentRight cardContentRightWithButton'>
								<div class="oneRightContent oneRightContentGestion">
									<h2>
										Nom de logement de la bdd
									</h2>
								</div>
								<div class="oneRightContent oneRightContentGestion">
									<figure class="iconRightContent">
										<img id="iconReservationHistoric" src="{{ asset('/img/emplacement 1.png') }}" alt="">
									</figure>
									<p class='infoRightContent'>Adresse de la bdd</p>
								</div>
								<div class="oneRightContent oneRightContentGestion">
									<figure class="iconRightContent">
										<img id="iconReservationHistoric" src="{{ asset('/img/lit.png') }}" alt="">
									</figure>
									<p class='infoRightContent'>nombre de lits de la bdd</p>
								</div>
								<div class="oneRightContent oneRightContentGestion">
									<figure class="iconRightContent">
										<img id="iconReservationHistoric" src="{{ asset('/img/reservation1.png') }}" alt="">
									</figure>
									<p class='infoRightContent'>nombre de reservations</p>
								</div>
								<figure class="figureModifier figureModifierGestion">
									<img class="imgModifierGestion" src="{{ asset('/img/exchange.png') }}" alt="">
								</figure>
							</div>


						</div>
						<div class="input inputGA">
							<div class="contentInput contentInputLeft">
								<div class='infoLogement infoLogementLeft'>
									<div class='oneInfo'>
										<div class='infoSaisis'>
											<div class='contentInfoGestion hInputGestion'>
												<h3>Title:
													<br>Info de Bdd
												</h3>
											</div>

										</div>
										<div class='modifierInfo infoSaisis'>
											<form action="" method='post'>
												<input type="text" class='change changeGestion' placeholder="Modifier...">
												<input type="submit" name="valider" class="valider change" value="">

											</form>

										</div>

									</div>
									<div class='oneInfo'>
										<div class='infoSaisis'>
											<div class='contentInfoGestion hInputGestion'>
												<h3>Adresse:
													<br>Info de Bdd
												</h3>
											</div>

										</div>
										<div class='modifierInfo infoSaisis'>
											<form action="" method="post">
												<input type="text" class='change changeGestion' placeholder="Modifier...">
												<input type="submit" name="valider" class="valider change" value="">
											</form>

										</div>

									</div>
									<div class='oneInfo'>
										<div class='infoSaisis'>
											<div class='contentInfoGestion hInputGestion'>
												<h3>Type:
													<br>Info de Bdd
												</h3>
											</div>

										</div>
										<div class='modifierInfo infoSaisis'>
											<form action="" method="post">
												<select type="select" class='change changeGestion' placeholder="Modifier...">
													<option value="Choisissez">Choisissez...</option>
													<option value="Choisissez">Appartement</option>
													<option value="Choisissez">Maison</option>
												</select>
												<input type="submit" name="valider" class="valider change" value="">


											</form>

										</div>

									</div>

									<div class='oneInfo'>
										<div class='infoSaisis'>
											<div class='contentInfoGestion hInputGestion'>
												<h3>Surface en m²:
													<br>Info de Bdd
												</h3>
											</div>

										</div>
										<div class='modifierInfo infoSaisis'>
											<form action="" method="post">
												<input type="number" class='change changeGestion' placeholder="Modifier...">
												<input type="submit" name="valider" class="valider change" value="">


											</form>

										</div>

									</div>

									<div class='oneInfo'>
										<div class='infoSaisis'>
											<div class='contentInfoGestion hInputGestion'>
												<h3>Emplacement:
													<br>Info de Bdd
												</h3>
											</div>

										</div>
										<div class='modifierInfo infoSaisis'>
											<form action="" method="post">
												<select type="select" class='change changeGestion' placeholder="Modifier...">
													<option value="Choisissez">Choisissez...</option>
													<option value="Choisissez">Lac</option>
													<option value="Choisissez">Plage</option>
												</select>
												<input type="submit" name="valider" class="valider change" value="">


											</form>

										</div>

									</div>

									<div class='oneInfo'>
										<div class='infoSaisis'>
											<div class='contentInfoGestion hInputGestion'>
												<h3>Prix par nuit en €:
													<br>Info de Bdd
												</h3>
											</div>

										</div>
										<div class='modifierInfo infoSaisis'>
											<form action="" method="post">
												<input type="number" class='change changeGestion' placeholder="Modifier...">
												<input type="submit" name="valider" class="valider change" value="">


											</form>

										</div>

									</div>

									<div class='oneInfo'>
										<div class='infoSaisis'>
											<div class='contentInfoGestion hInputGestion'>
												<h3>Maximume de persones:
													<br>Info de Bdd
												</h3>
											</div>

										</div>
										<div class='modifierInfo infoSaisis'>
											<form action="" method="post">
												<input type="number" class='change changeGestion' placeholder="Modifier...">
												<input type="submit" name="valider" class="valider change" value="">


											</form>

										</div>

									</div>
									<div class='oneInfo'>
										<div class='infoSaisis'>
											<div class='contentInfoGestion hInputGestion'>
												<h3>Nombre de lits:
													<br>Info de Bdd
												</h3>
											</div>

										</div>
										<div class='modifierInfo infoSaisis'>
											<form action="" method="post">
												<input type="number" class='change changeGestion' placeholder="Modifier...">
												<input type="submit" name="valider" class="valider change" value="">


											</form>

										</div>

									</div>
								</div>
							</div>
							<div class="contentInput contentInputRight">
								<div class="infoLogement">
									<div class='oneInfo'>
										<div class='infoSaisis'>
											<div class='contentInfoGestion hInputGestion'>
												<h3>Description:
												</h3>
											</div>
										</div>
										<div class='modifierInfo infoSaisis'>
											<form action="" method='post'>
												<textarea type="text" class='change changeGestion bigModifierInfo' placeholder="Modifier..."></textarea>
												<input type="submit" name="valider" class="valider change validerGestion" value="">

											</form>

										</div>

									</div>
									{# <div class='oneInfo'>
																																														<div class='infoSaisis'>
																																															<div class='contentInfoGestion hInputGestion'>
																																																<h3>Resumé:
																																																</h3>
																																															</div>
																																														</div>
																																														<div class='modifierInfo infoSaisis'>
																																															<form action="" method='post'>
																																																<textarea type="text" class='change changeGestion bigModifierInfo' placeholder="Modifier..."></textarea>
																																																<input type="submit" name="valider" class="valider change validerGestion" value="">
																																				
																																															</form>
																																				
																																														</div>
																																				
																																													</div> #}
									<div class='oneInfo'>
										<div class='infoSaisis'>
											<div class='contentInfoGestion hInputGestion'>
												<h3>Equipement:
												</h3>
											</div>
										</div>
										<div class='modifierInfo infoSaisis'>
											<form action="" method='post'>
												<div type="text" class='change changeGestion bigModifierInfo' placeholder="Modifier...">
													<label class="labelGestionEquipement" for="parking">parking
														<input type="checkbox" name="parking">
													</label>
													<label class="labelGestionEquipement" for="wifi">wifi
														<input type="checkbox" name="wifi">
													</label>
													<label class="labelGestionEquipement" for="piscine">piscine
														<input type="checkbox" name="piscine">
													</label>
													<label class="labelGestionEquipement" for="animals">animaux
														<input type="checkbox" name="animals">
													</label>
													<label class="labelGestionEquipement" for="kitchen">cuisine
														<input type="checkbox" name="kitchen">
													</label>
													<label class="labelGestionEquipement" for="garden">jardin
														<input type="checkbox" name="garden">
													</label>
													<label class="labelGestionEquipement" for="tv">tv
														<input type="checkbox" name="tv">
													</label>
													<label class="labelGestionEquipement" for="climatisation">climatisation
														<input type="checkbox" name="climatisation">
													</label>
													<label class="labelGestionEquipement" for="camera">camera
														<input type="checkbox" name="camera">
													</label>
													<label class="labelGestionEquipement" for="piscine">piscine
														<input type="checkbox" name="">
													</label>
													<label class="labelGestionEquipement" for="home_textiles">draps
														<input type="checkbox" name="home_textiles">
													</label>
													<label class="labelGestionEquipement" for="spa">spa
														<input type="checkbox" name="spa">
													</label>
													<label class="labelGestionEquipement" for="jacuzzi">jacuzzi
														<input type="checkbox" name="jacuzzi">
													</label>


												</div>
												<input type="submit" name="valider" class="valider change validerGestion" value="">

											</form>

										</div>

									</div>


								</div>


							</div>
						</div>

					</div>

				</div>
				<div class="contentPage" id='contentAjoutLogement'>
					<h1>Ajoutez un bien</h1>
					<div class='card cardAjout'>
						<div class="input inputGA">
							<form id="add-flat" method="post" action='{{path('add')}}' enctype="multipart/form-data">
								<div class="contentInput contentInputLeft">
									<div class='infoLogement infoLogementLeft'>
										<div class='oneInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Title:
														<br>Info de Bdd
													</h3>
												</div>

											</div>
											<div class='modifierInfo infoSaisis'>
												<label for="title"></label>
												<input type="text" name='title' id='title' class='change changeGestion' placeholder="Modifier...">

											</div>

										</div>
										<div class='oneInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Adresse:
														<br>Info de Bdd
													</h3>
												</div>

											</div>
											<div class='modifierInfo infoSaisis'>
												<label for=""></label>
												<input type="text" class='change changeGestion' placeholder="Modifier...">


											</div>

										</div>
										<div class='oneInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Type:
														<br>Info de Bdd
													</h3>
												</div>

											</div>
											<div class='modifierInfo infoSaisis'>
												<label for="type"></label>
												<select type="select" class='change changeGestion' name='type' id='type' required>
													<option value=""></option>
													<option value="housse">Maison</option>
													<option value="flat">Appartement</option>
													<option value="studio">Studio</option>
													<option value="chalet">Chalet</option>
													<option value="cottage">Gîte</option>
													<option value="gest house">Maison d'hôte</option>
													<option value="dome">Dôme</option>
													<option value="hut">Cabane</option>
													<option value="yurt">Yourt</option>
													<option value="barge">Péniche</option>
												</select>


											</div>

										</div>

										<div class='oneInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Surface en m²:
														<br>Info de Bdd
													</h3>
												</div>

											</div>
											<div class='modifierInfo infoSaisis'>
												<label for="surface"></label>
												<input type="number" class='change changeGestion' placeholder="Saisisez..." name="surface" id="surface" required>
											</div>

										</div>

										<div class='oneInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Emplacement:
														<br>Info de Bdd
													</h3>
												</div>

											</div>
											<div class='modifierInfo infoSaisis'>
												<label for="location"></label>
												<select type="select" class='change changeGestion' name="location" id="location" required>
													<option value=""></option>
													<option value="beach">La plage</option>
													<option value="river">La rivière/ Un fleuve</option>
													<option value="forest">La fôret</option>
													<option value="montain">La montagne</option>
													<option value="lac">Un lac</option>
												</select>


											</div>

										</div>

										<div class='oneInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Prix par nuit en €:
														<br>Info de Bdd
													</h3>
												</div>

											</div>
											<div class='modifierInfo infoSaisis'>
												<label for="price_by_night"></label>
												<input type="number" class='change changeGestion' placeholder="Saisissez..." name="price_by_night" id="type" required>


											</div>

										</div>

										<div class='oneInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Maximume de persones:
														<br>Info de Bdd
													</h3>
												</div>

											</div>
											<div class='modifierInfo infoSaisis'>
												<label for="number_of_person"></label>
												<input type="number" class='change changeGestion' placeholder="Saisissez..." name="number_of_person" id="type" required>


											</div>

										</div>
										<div class='oneInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Nombre de lits:
														<br>Info de Bdd
													</h3>
												</div>

											</div>
											<div class='modifierInfo infoSaisis'>
												<label for="number_of_beds"></label>
												<input type="number" class='change changeGestion' placeholder="Saisissez..." name="number_of_beds" id="number_of_beds" required>


											</div>

										</div>
									</div>
								</div>
								<div class="contentInput contentInputRight">
									<div class="infoLogement">
										<div class='oneInfo oneBigInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Description:
													</h3>
												</div>
											</div>
											<div class='modifierInfo infoSaisis'>
												<label for="description"></label>
												<textarea type="text" class='change changeGestion bigModifierInfo' placeholder="Saisissez..." name="description" id="description"></textarea>


											</div>

										</div>
										<div class='oneInfo oneBigInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Resumé:
													</h3>
												</div>
											</div>
											<div class='modifierInfo infoSaisis'>
												<label for="resume"></label>
												<textarea type="text" class='change changeGestion bigModifierInfo' placeholder="Saisissez..." name="resume" id="resume"></textarea>


											</div>

										</div>
										<div class='oneInfo oneBigInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Images:
													</h3>
												</div>
											</div>
											<div class='modifierInfo infoSaisis'>
												<div class='change changeGestion bigModifierInfo' id="addImg">
													<span id="spanPlus"><img src="{{ asset('/img/iconPlus.png') }}" alt="plus"></span>
												</div>


											</div>

										</div>
										<div class='oneInfo oneBigInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Equipement:
													</h3>
												</div>
											</div>
											<div class='modifierInfo infoSaisis'>

												<div type="text" class='change changeGestion bigModifierInfo' placeholder="Modifier...">
													<label class="labelGestionEquipement" for="parking">parking
														<input type="checkbox" name="parking">
													</label>
													<label class="labelGestionEquipement" for="wifi">wifi
														<input type="checkbox" name="wifi">
													</label>
													<label class="labelGestionEquipement" for="piscine">piscine
														<input type="checkbox" name="piscine">
													</label>
													<label class="labelGestionEquipement" for="animals">animaux
														<input type="checkbox" name="animals">
													</label>
													<label class="labelGestionEquipement" for="kitchen">cuisine
														<input type="checkbox" name="kitchen">
													</label>
													<label class="labelGestionEquipement" for="garden">jardin
														<input type="checkbox" name="garden">
													</label>
													<label class="labelGestionEquipement" for="tv">tv
														<input type="checkbox" name="tv">
													</label>
													<label class="labelGestionEquipement" for="climatisation">climatisation
														<input type="checkbox" name="climatisation">
													</label>
													<label class="labelGestionEquipement" for="camera">camera
														<input type="checkbox" name="camera">
													</label>
													<label class="labelGestionEquipement" for="piscine">piscine
														<input type="checkbox" name="">
													</label>
													<label class="labelGestionEquipement" for="home_textiles">draps
														<input type="checkbox" name="home_textiles">
													</label>
													<label class="labelGestionEquipement" for="spa">spa
														<input type="checkbox" name="spa">
													</label>
													<label class="labelGestionEquipement" for="jacuzzi">jacuzzi
														<input type="checkbox" name="jacuzzi">
													</label>


												</div>


											</div>

										</div>


									</div>


								</div>
								<input type="submit" name="submit" class="valider change validerGestion" value="">
							</form>
						</div>
					</div>
				</div>
				<div class="contentPage" id='contentGestionReservation'>
					<h1>Gestion des reservation</h1>
					<div class='divBarreDeRecherche'>
						<form action="" method='GET'>
							<input type="search" name='search' placeholder='Rechercher...' class='search'>
							<input type="submit" name='rechercher' value class='rechercher' class='valider change'>
						</form>
					</div>
					<h2>Nom de logement</h2>
					<div class='card cardGestionReservation'>
						<table class="reservation-table">
							<thead>
								<tr class="rowTable">
									<th class="reservation-date colomTable">Periode</th>
									<th class="reservation-reseverPar colomTable">Reserver par</th>
									<th class="reservation-reglement colomTable">Reglement</th>
									<th class="reservation-nbPresonnes colomTable">Nombre de personnes</th>
									<th class="reservation-contact colomTable">Contact</th>
								</tr>
							</thead>
							<tbody>
								<tr class="rowTable">
									<td data-label="Date">
										<p>
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nobis architecto totam dolorum deleniti illo, est sed, nisi ad eligendi ab illum deserunt, sint dicta eaque repellendus perspiciatis quam temporibus.</p>
									</td>
									<td data-label="Reservar par">
										<p>
											#_EVENTTIMES
										</p>
									</td>
									<td data-label="reglement">
										<p>
											#_EVENTTIMES
										</p>
									</td>
									<td data-label="Nombre de persones">
										<p>
											#_EVENTTIMES
										</p>
									</td>
									<td data-label="Contact">
										<p>
											#_EVENTTIMES
										</p>
									</td>
								</tr>
								<tr class="rowTable">
									<td data-label="Date">
										<p>
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nobis architecto totam dolorum deleniti illo, est sed, nisi ad eligendi ab illum deserunt, sint dicta eaque repellendus perspiciatis quam temporibus.
										</p>
									</td>
									<td data-label="Reservar par">
										<p>
											#_EVENTTIMES
										</p>
									</td>
									<td data-label="reglement">
										<p>
											#_EVENTTIMES
										</p>
									</td>
									<td data-label="Nombre de persones">
										<p>
											#_EVENTTIMES
										</p>
									</td>
									<td data-label="Contact">
										<p>
											#_EVENTTIMES
										</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>


				</div>
				<div class="contentPage contentPageReservation" id='contentMesReservation'>
					<h1>Mes Reservation</h1>
					<div class='divBarreDeRecherche'>
						<form action="" method='GET'>
							<input type="search" name='search' placeholder='Rechercher...' class='search'>
							<input type="submit" name='rechercher' value class='rechercher' class='valider change'>
						</form>
					</div>
					<div class='card cardInfoPerso cardHG cardReservation'>
						<div class='cardContentLeft'>
							<figure>
								<img src="{{ asset('/img/montpellier.jpg') }}" alt="">
							</figure>
						</div>
						<div class='cardContentRight'>
							<div class='oneRightContent oneRightContentResqervation'>
								<h2>
									Nom de logement de la bdd</h2>
							</div>
							<div class='oneRightContent oneRightContentResqervation'>
								<figure class="iconRightContent">
									<img id="iconReservationHistoric" src="{{ asset('/img/calendar.png') }}" alt="">
								</figure>
								<p class='dateRightContent infoRightContent'>du 00/00/0000 au 00/00/0000</p>
							</div>
							<div class='oneRightContent oneRightContentResqervation'>
								<figure class="iconRightContent">
									<img id="iconReservationHistoric" src="{{ asset('/img/argent.png') }}" alt="">
								</figure>
								<p class='dateRightContent infoRightContent'>du 00/00/0000 au 00/00/0000</p>
							</div>
							<div class='oneRightContent oneRightContentResqervation'>
								<figure class="iconRightContent">
									<img id="iconReservationHistoric" src="{{ asset('/img/people.png') }}" alt="">
								</figure>
								<p class='dateRightContent infoRightContent'>du 00/00/0000 au 00/00/0000</p>
							</div>
						</div>
					</div>
				</div>
				<div class="contentPage" id='con'></div>
			</div>
		</body>

	{% endblock %}
	{% block js %}
		<script src="{{ asset('/js/dashboard.js') }}"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJOi0dF-SaAfjQDQogCfi0Ns5BDtZcJJU"></script>
		<script src="./asset/js/input.js"></script>
	{% endblock %}

</html>
