<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ asset('/css/dashboard.css') }}">
		<link rel="stylesheet" href="{{ asset('/css/style.css') }}">
		<link rel="stylesheet" href="{{ asset('/font/font.css') }}">

		<title>
			{% block title %}Tableau de bord{% endblock %}
		</title>
	</head>
	<body>

		{% block content %}
			<div class='content'>
				<div id="popop">
					<div class='contentFixCard contentFixCardInfoPerso'>
						<div>

							<p id="messagePopop"></p>
							<div>
								<form action="" method="post">
									<input type="hidden" name="inputHiddenPopop" id="inputHiddenPopop" value="">
									<input type="submit" class="valider change validerGestion submitUpdateImg popopCommand" id="popopvalider" value="">
									<span class="suprimer change validerGestion submitUpdateImg popopCommand" id='cross'></span>
								</form>
							</div>

						</div>
					</div>

				</div>
				<nav id='navDash'>
					<ul>
						<li id='info'>
							<ul>
								<li id='infoPerso' class='liInfo clickInfo'>
									<figure class='icon'>
										<img src="{{ asset('/img/🦆 icon _person_.png') }}" alt="icon _person">
									</figure>
								</li>
								<li id='perso' class='liInfo clickInfo'>
									<figure class='icon'>
										<img id='iconInfo' src="{{ asset('/img/Perso.png') }}" alt="infos personnelles">
									</figure>
								</li>
								<li id='historic' class='liInfo clickInfo'>
									<figure class='icon'>
										<img src="{{ asset('/img/group.png') }}" alt="historique">
									</figure>
								</li>
								<li id='gestionBien' class='liInfo clickInfo'>
									<figure class='icon'>
										<img src="{{ asset('/img/gestion.png') }}" alt="gestion des biens ">
									</figure>
								</li>
								<li id='ajouterBien' class='liInfo clickInfo'>
									<figure class='icon'>
										<img src="{{ asset('/img/ajouter.png') }}" alt="ajouter un bien">
									</figure>
								</li>
								<li id='gestionReservation' class='liInfo clickInfo'>
									<figure class='icon'>
										<img src="{{ asset('/img/gestionReservation.png') }}" alt="réservation">
									</figure>
								</li>
							</ul>
						</li>
						<li id='like' class='clickInfo'>
							<figure class='icon' id='iconLike'>
								<img src="{{ asset('/img/🦆 icon _heart_.png') }}" alt="favoris">
							</figure>
						</li>
						<li id='resevations' class='clickInfo'>
							<figure class='icon'>
								<img src="{{ asset('/img/reservation.png') }}" alt="réservations">
							</figure>
						</li>
						<li id='messagerie'>
							<figure class='icon'>
								<img id='imgMesagerie' src="{{ asset('/img/iconMessage.png') }}" alt="message">
							</figure>
						</li>
					</ul>
				</nav>
				<a href='{{path('home')}}' class='logoDash'>
					<img src="{{ asset('/img/logoDash.png') }}" alt="tableau de bord">
				</a>
				<div class='contentPage' id='contentInfoPerso'>
					<div class='card cardInfoPerso cardInfoPersoM'>
						<div class='contentFixCard contentFixCardInfoPerso'>
							<div>
								<h3>Nom et prénom</h3>
								<p>{{user.firstname}}
									{{user.name}}</p>

							</div>

							<figure class="figureModifier figureModifierInfo">
								<img class="imgModifier imgModifierInfo" src="{{ asset('/img/exchange.png') }}" alt="modifier info personnelle">
							</figure>
						</div>

						<div class='input inputInfo input2info height'>
							<form action="" method="post">
								<label for="lastname"></label>
								<input type="text" class='change' name="lastname" id='lastname' placeholder="Votre nom..." required>
								<label for="firstname"></label>
								<input type="text" class='change' name="firstname" id='firstname' placeholder="Votre prénom...">
								<input type="submit" name="validerName" class="valider change" value="" required>
							</form>

						</div>
					</div>

					<div class='card cardInfoPerso cardInfoPersoM'>
						<div class='contentFixCard contentFixCardInfoPerso'>
							<div>
								<h3>Adresse mail</h3>
								<p>{{user.mail}}</p>

							</div>

							<figure class="figureModifier figureModifierInfo">
								<img class="imgModifier imgModifierInfo" src="{{ asset('/img/exchange.png') }}" alt="modifier">
							</figure>
						</div>
						<div class='input inputInfo height'>
							<form action="" method="post">
								<label for="mail"></label>
								<input type="text" name='mail' id='mail' class='change' placeholder="Votre mail..." required>
								<input type="submit" name="validerMail" class="valider change" value="">
							</form>
						</div>
					</div>

					<div class='card cardInfoPerso cardInfoPersoM'>
						<div class='contentFixCard contentFixCardInfoPerso'>
							<div>
								<h3>Téléphone</h3>
								<p>{{user.phone_number}}</p>

							</div>

							<figure class="figureModifier figureModifierInfo">
								<img class="imgModifier imgModifierInfo" src="{{ asset('/img/exchange.png') }}" alt="modifier">
							</figure>
						</div>
						<div class='input inputInfo height'>

							<form action="" method="post">
								<label for="tel"></label>
								<input type="text" name='tel' id='tel' class='change' placeholder="Votre numéro de téléphone...">
								<input type="submit" name="validerTel" class="valider change" value="" required>
							</form>
						</div>
					</div>
					<div class='card cardInfoPerso cardInfoPersoM'>
						<div class='contentFixCard contentFixCardInfoPerso'>
							<div>
								<h3>Date de naissance</h3>
								<p>{{user.date_of_birth}}</p>

							</div>

							<figure class="figureModifier figureModifierInfo">
								<img class="imgModifier imgModifierInfo" src="{{ asset('/img/exchange.png') }}" alt="modifier">
							</figure>
						</div>
						<div class='input inputInfo height'>

							<form action="" method="post">
								<label for="date_of_birth"></label>
								<input type="text" name='date_of_birth' id='date_of_birth' class='change' placeholder="Modifier">
								<input type="submit" name="validerDateOfBird" class="valider change" value="" required>
							</form>
						</div>
					</div>
					<div class='card cardInfoPerso cardInfoPersoM'>
						<div class='contentFixCard contentFixCardInfoPerso'>
							<div>
								<h3>Mot de passe</h3>
							</div>

							<figure class="figureModifier figureModifierInfo">
								<img class="imgModifier imgModifierInfo" src="{{ asset('/img/exchange.png') }}" alt="modifier">
							</figure>
						</div>

						<div class='input inputInfo input2info height'>
							<form action="" method="post">
								<label for="password"></label>
								<input type="text" class='change' name="password" id='password' placeholder="Modifier...">
								<label for="passwordConfirm"></label>
								<input type="text" class='change' name="passwordConfirm" id='passwordConfirm' placeholder="Confirmer...">
								<input type="submit" name="validerPassword" class="valider change" value="">
							</form>
						</div>
					</div>


					<div class='card cardInfoPerso cardInfoPersoM'>
						<div class='contentFixCard contentFixCardInfoPerso'>
							<div>
								<h3>Supprimer le compte</h3>
							</div>


							<form action="" method="post" class="figureModifier 	figureModifierInfo">
								<span class="suprimer change validerGestion" id="spanSuprimerUser" data-iduser="{{idUser}}"></span>
							</form>
						</div>


					</div>
				</div>
				<div class='contentPage' id='contentHistoricReservation'>
					<h1>Historique des réservations</h1>
					<div class='divBarreDeRecherche'>
						<form action="" method='GET'>
							<input type="search" name='search' placeholder='Rechercher...' class='search'>
							<input type="submit" name='rechercher' value class='rechercher' class='valider change'>
						</form>
					</div>
					{% for reqOneResevation in historiqueReservation %}
						<div class='card cardInfoPerso cardHG'>
							<div class='cardContentLeft'>
								<figure>
									<img src="{{ asset('/img/logement/' ~ reqOneResevation.thumbnail) }}" alt="{{ reqOneResevation.title }}">
								</figure>
							</div>
							<div class='cardContentRight'>
								<div class='oneRightContent'>
									<h2>{{reqOneResevation.title}}</h2>
								</div>
								<div class='oneRightContent'>
									<figure class="iconRightContent">
										<img id="iconReservationHistoric" src="{{ asset('/img/calendar.png') }}" alt="calendrier">
									</figure>
									<p class='dateRightContent infoRightContent'>du
										{{reqOneResevation.start_date}}
										au
										{{reqOneResevation.end_date}}</p>
								</div>
								<div class='oneRightContent'>
									<figure class="iconRightContent">
										<img id="iconAvis" src="{{ asset('/img/avis-client.png') }}" alt="avis client">
									</figure>
									<button class='avis infoRightContent'>
										<span>Laisser un avis</span>
									</button>

								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				<div class='contentPage' id='contentGestionLogement'>
					<h1>Gestion des biens</h1>


					{% for i in 0..(logement|length - 1) %}
						<div class='card cardHG cardH cardInfoPerso'>
							<div class='contentCardGestion'>
								<div class='cardContentLeft'>
									<figure>
										<img src="{{ asset('/img/logement/' ~ logement[i].thumbnail) }}" alt="{{ logement[i].title }}">
									</figure>
								</div>
								<div class='cardContentRight cardContentRightWithButton'>

									<form action="" method="post">
										<input type="hidden" name="idLogement" id="idLogement" value="{{logement[i].id_logement}}">

										<span class="suprimer change validerGestion suprimerLogement" data-idlogement="{{logement[i].id_logement}}" data-namelogement="{{logement[i].title}}"></span>
									</form>

									<div class="oneRightContent oneRightContentGestion oneRightContentGestionH">

										<h2>
											{{logement[i].title}}</h2>
									</div>
									<div class="oneRightContent oneRightContentGestion">
										<figure class="iconRightContent">
											<img id="iconReservationHistoric" src="{{ asset('/img/emplacement 1.png') }}" alt="historique">
										</figure>
										<p class='infoRightContent'>{{logement[i].adress}},
											{{logement[i].adressCode}},
											{{logement[i].city}}</p>
									</div>
									<div class="oneRightContent oneRightContentGestion">
										<figure class="iconRightContent">
											<img id="iconReservationHistoric" src="{{ asset('/img/lit.png') }}" alt="historique des réservations">
										</figure>
										<p class='infoRightContent'>{{logement[i].number_of_person}}</p>
									</div>
									<div class="oneRightContent oneRightContentGestion">
										<figure class="iconRightContent">
											<img id="iconReservationHistoric" src="{{ asset('/img/reservation1.png') }}" alt="réservations">
										</figure>
										<p class='infoRightContent'>Nombre de réservations</p>
									</div>
									<figure class="figureModifier figureModifierGestion">
										<img class="imgModifierGestion" src="{{ asset('/img/exchange.png') }}" alt="gestion réservations">
									</figure>
								</div>
							</div>
							<div class="input inputGA">
								<div class="contentInput contentInputLeft">
									<div class='infoLogement infoLogementLeft'>
										<div class='oneInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Titre
														<br>{{logement[i].title}}
													</h3>
												</div>
											</div>
											<div class='modifierInfo infoSaisis'>
												<form action="" method='post'>
													<input type="hidden" name="idLogement" id="idLogement" value="{{logement[i].id_logement}}">
													<label for="title"></label>
													<input type="text" name='title' id='title' class='change changeGestion' placeholder="Modifier...">
													<input type="submit" name="validerTitle" class="valider change" value="">
												</form>
											</div>
										</div>
										<div class='oneInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Adresse
														<br>{{logement[i].adress}},
														{{logement[i].adressCode}},
														{{logement[i].city}}
													</h3>
												</div>
											</div>
											<div class='modifierInfo infoSaisis'>
												<form action="" method="post">
													<input type="hidden" name="idLogement" value="{{logement[i].id_logement}}">
													<input type="text" name="adresse" id="adresse" class='change changeGestion' placeholder="Modifier...">
													<input type="submit" name="validerAdresse" class="valider change" value="">
												</form>
											</div>
										</div>
										<div class='oneInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Type
														<br>{{logement[i].type}}
													</h3>
												</div>

											</div>
											<div class='modifierInfo infoSaisis'>
												<form action="" method="post">
													<input type="hidden" name="idLogement" value="{{logement[i].id_logement}}">
													<select type="select" name="type" id="type" class='change changeGestion' placeholder="Modifier...">
														<option value=""></option>
														<option value="housse">Maison</option>
														<option value="flat">Appartement</option>
														<option value="studio">Studio</option>
														<option value="chalet">Chalet</option>
														<option value="cottage">Gîte</option>
														<option value="gest house">Maison d'hôte</option>
														<option value="dome">Dôme</option>
														<option value="hut">Cabane</option>
														<option value="yurt">Yourte</option>
														<option value="barge">Péniche</option>
													</select>
													<input type="submit" name="validerType" class="valider change" value="">
												</form>
											</div>
										</div>
										<div class='oneInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Surface en m²
														<br>{{logement[i].surface}}
													</h3>
												</div>
											</div>
											<div class='modifierInfo infoSaisis'>
												<form action="" method="post">
													<input type="hidden" name="idLogement" value="{{logement[i].id_logement}}">
													<input type="number" name="surface" id="surface" class='change changeGestion' placeholder="Modifier...">
													<input type="submit" name="validerSurface" class="valider change" value="">
												</form>
											</div>
										</div>
										<div class='oneInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Emplacement
														<br>{{logement[i].location}}
													</h3>
												</div>
											</div>
											<div class='modifierInfo infoSaisis'>
												<form action="" method="post">
													<input type="hidden" name="idLogement" value="{{logement[i].id_logement}}">
													<select type="select" name="location" class='change changeGestion' placeholder="Modifier...">
														<option value=""></option>
														<option value="beach">La plage</option>
														<option value="river">La rivière/ Un fleuve</option>
														<option value="forest">La fôret</option>
														<option value="montain">La montagne</option>
														<option value="lac">Un lac</option>
													</select>
													<input type="submit" name="validerLocation" class="valider change" value="">
												</form>
											</div>
										</div>
										<div class='oneInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Prix par nuit en €
														<br>{{logement[i].price_by_night}}
													</h3>
												</div>
											</div>
											<div class='modifierInfo infoSaisis'>
												<form action="" method="post">
													<input type="hidden" name="idLogement" value="{{logement[i].id_logement}}">
													<input type="number" name="price_by_night" class='change changeGestion' placeholder="Modifier...">
													<input type="submit" name="validerPrice" class="valider change" value="">
												</form>
											</div>
										</div>
										<div class='oneInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Nombre de personnes
														<br>{{logement[i].number_of_person}}
													</h3>
												</div>
												<div class='modifierInfo infoSaisis'>
													<form action="" method="post">
														<input type="hidden" name="idLogement" value="{{logement[i].id_logement}}">
														<input type="number" name="number_of_person" class='change changeGestion' placeholder="Modifier...">
														<input type="submit" name="validerPersone" class="valider change" value="">
													</form>
												</div>
											</div>
											<div class='oneInfo'>
												<div class='infoSaisis'>
													<div class='contentInfoGestion hInputGestion'>
														<h3>Nombre de lits
															<br>{{logement[i].number_of_beds}}
														</h3>
													</div>
												</div>
												<div class='modifierInfo infoSaisis'>
													<form action="" method="post">
														<input type="hidden" name="idLogement" value="{{logement[i].id_logement}}">
														<input type="number" name="number_of_beds" class='change changeGestion' placeholder="Modifier...">
														<input type="submit" name="validerBeds" class="valider change" value="">
													</form>
												</div>
											</div>
										</div>
									</div>

								</div>
								<div class="contentInput contentInputRight">
									<div class="infoLogement">
										<div class='oneInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Description
													</h3>
												</div>
											</div>
											<div class='modifierInfo infoSaisis'>
												<form action="" method='post'>
													<input type="hidden" name="idLogement" value="{{logement[i].id_logement}}">
													<textarea type="text" name="description" class='change changeGestion bigModifierInfo' placeholder="Modifier..."></textarea>
													<input type="submit" name="validerDescription" class="valider change validerGestion" value="">
												</form>
											</div>
										</div>
										<div class='oneInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Résumé
													</h3>
												</div>
											</div>
											<div class='modifierInfo infoSaisis'>
												<form action="" method='post'>
													<input type="hidden" name="idLogement" value="{{logement[i].id_logement}}">
													<textarea type="text" class='change changeGestion bigModifierInfo' name="resume" placeholder="Modifier..."></textarea>
													<input type="submit" name="validerResume" class="valider change validerGestion" value="">
												</form>
											</div>
										</div>
										<div class='oneInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Images
													</h3>
												</div>
											</div>
											<div class='modifierInfo infoSaisis'>
												<form action="" method='post' class="formModifierImg" enctype="multipart/form-data">
													<input type="hidden" name="idLogement" value="{{logement[i].id_logement}}">
													<div class='change changeGestion bigModifierInfo bigModifierInfoImg changeImage'>
														{% for j in 0..(images[i]|length - 1) %}
															<div class="updateImg">
																<label for="selectImage" class='labelSelectImage'>
																	<figure>
																		<img src=" {{ asset('/img/logement/' ~ images[i][j]) }}" alt="{{ images[i][j].title }}">
																	</figure>
																	<input type="checkbox" name="selectImage[]" class="InputSelectImage" value="{{ images[i][j] }}">
																</label>
															</div>

														{% endfor %}
													</div>
													<div class='inputUpdateImg'>

														<input type="submit" name="validerImages" class="valider change validerGestion submitUpdateImg" value="">
														<span class="suprimer change validerGestion submitUpdateImg suprimerImg"></span>
														<span class="spanPlus2 change validerGestion submitUpdateImg"></span>
													</div>
												</form>
											</div>
										</div>
										<div class='oneInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Equipement
													</h3>
												</div>
											</div>
											<div class='modifierInfo infoSaisis'>
												<form action="" method='post'>
													<input type="hidden" name="idLogement" value="{{logement[i].id_logement}}">
													<div type="text" class='change changeGestion bigModifierInfo' placeholder="Modifier...">
													
														<label class="labelGestionEquipement" for="parking">Parking
															<input type="checkbox" name="parking" value="1">
														</label>
														<label class="labelGestionEquipement" for="wifi">Wifi
															<input type="checkbox" name="wifi" value="1">
														</label>
														<label class="labelGestionEquipement" for="piscine">Piscine
															<input type="checkbox" name="piscine" value="1">
														</label>
														<label class="labelGestionEquipement" for="animals">Animaux
															<input type="checkbox" name="animals" value="1">
														</label>
														<label class="labelGestionEquipement" for="kitchen">Cuisine
															<input type="checkbox" name="kitchen" value="1">
														</label>
														<label class="labelGestionEquipement" for="garden">Jardin
															<input type="checkbox" name="garden" value="1">
														</label>
														<label class="labelGestionEquipement" for="tv">Tv
															<input type="checkbox" name="tv" value="1">
														</label>
														<label class="labelGestionEquipement" for="climatisation">Climatisation
															<input type="checkbox" name="climatisation" value="1">
														</label>
														<label class="labelGestionEquipement" for="camera">Camera
															<input type="checkbox" name="camera" value="1">
														</label>
														
														<label class="labelGestionEquipement" for="home_textiles">Draps
															<input type="checkbox" name="home_textiles">
														</label>
														<label class="labelGestionEquipement" for="spa">Spa
															<input type="checkbox" name="spa" value="1">
														</label>
														<label class="labelGestionEquipement" for="jacuzzi">Jacuzzi
															<input type="checkbox" name="jacuzzi" value="1">
														</label>


													</div>
													<input type="submit" name="validerEquipment" class="valider change validerGestion" value="">
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					{% endfor %}
				</div>
				<div class="contentPage" id='contentAjoutLogement'>
					<h1>Ajouter un bien</h1>
					<div class='card cardAjout'>
						<div class="input inputGA">
							<form class="add-flat" method="post" action='' enctype="multipart/form-data">
								<div class="contentInput contentInputLeft">
									<div class='infoLogement infoLogementLeft'>
										<div class='oneInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Titre

													</h3>
												</div>

											</div>
											<div class='modifierInfo infoSaisis'>
												<label for="title"></label>
												<input type="text" name='title' id='title' class='change changeGestion' placeholder="Saisissez...">

											</div>

										</div>
										<div class='oneInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Adresse

													</h3>
												</div>

											</div>
											<div class='modifierInfo infoSaisis'>
												<label for="adress"></label>
												<input type="text" name="adress" id="adress" placeholder="numéro, voirie, nom" required class='change changeGestion'>


											</div>

										</div>
										<div class='oneInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Code postal

													</h3>
												</div>

											</div>
											<div class='modifierInfo infoSaisis'>
												<label for="adressCode"></label>
												<input type="text" name="adressCode" id="adressCode" required class='change changeGestion' placeholder="Saisissez...">


											</div>

										</div>
										<div class='oneInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Ville

													</h3>
												</div>

											</div>
											<div class='modifierInfo infoSaisis'>
												<label for="city"></label>
												<input type="text" class='change changeGestion' name="city" id="city" required placeholder="Saisissez...">


											</div>

										</div>
										<div class='oneInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Type

													</h3>
												</div>

											</div>
											<div class='modifierInfo infoSaisis'>
												<label for="type"></label>
												<select type="select" class='change changeGestion' name='type' id='type' required>
													<option value=""></option>
													<option value="housse">Maison</option>
													<option value="flat">Appartement</option>
													<option value="studio">Studio</option>
													<option value="chalet">Chalet</option>
													<option value="cottage">Gîte</option>
													<option value="gest house">Maison d'hôte</option>
													<option value="dome">Dôme</option>
													<option value="hut">Cabane</option>
													<option value="yurt">Yourte</option>
													<option value="barge">Péniche</option>
												</select>


											</div>

										</div>

										<div class='oneInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Surface en m²

													</h3>
												</div>

											</div>
											<div class='modifierInfo infoSaisis'>
												<label for="surface"></label>
												<input type="number" class='change changeGestion' placeholder="Saisisez..." name="surface" id="surface" required>
											</div>

										</div>

										<div class='oneInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Emplacement

													</h3>
												</div>

											</div>
											<div class='modifierInfo infoSaisis'>
												<label for="location"></label>
												<select type="select" class='change changeGestion' name="location" id="location" required>
													<option value=""></option>
													<option value="beach">La plage</option>
													<option value="river">La rivière/ Un fleuve</option>
													<option value="forest">La fôret</option>
													<option value="montain">La montagne</option>
													<option value="lac">Un lac</option>
												</select>


											</div>

										</div>

										<div class='oneInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Prix par nuit en €

													</h3>
												</div>

											</div>
											<div class='modifierInfo infoSaisis'>
												<label for="price_by_night"></label>
												<input type="number" class='change changeGestion' placeholder="Saisissez..." name="price_by_night" id="type" required>


											</div>

										</div>

										<div class='oneInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Nombre de personnes

													</h3>
												</div>

											</div>
											<div class='modifierInfo infoSaisis'>
												<label for="number_of_person"></label>
												<input type="number" class='change changeGestion' placeholder="Saisissez..." name="number_of_person" id="type" required>


											</div>

										</div>
										<div class='oneInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Nombre de lits

													</h3>
												</div>

											</div>
											<div class='modifierInfo infoSaisis'>
												<label for="number_of_beds"></label>
												<input type="number" class='change changeGestion' placeholder="Saisissez..." name="number_of_beds" id="number_of_beds" required>


											</div>

										</div>
									</div>
								</div>
								<div class="contentInput contentInputRight">
									<div class="infoLogement">
										<div class='oneInfo oneBigInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Description
													</h3>
												</div>
											</div>
											<div class='modifierInfo infoSaisis'>
												<label for="description"></label>
												<textarea type="text" class='change changeGestion bigModifierInfo' placeholder="Saisissez..." name="description" id="description"></textarea>


											</div>

										</div>
										<div class='oneInfo oneBigInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Résumé
													</h3>
												</div>
											</div>
											<div class='modifierInfo infoSaisis'>
												<label for="resume"></label>
												<textarea type="text" class='change changeGestion bigModifierInfo' placeholder="Saisissez..." name="resume" id="resume"></textarea>


											</div>

										</div>
										<div class='oneInfo oneBigInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Images
													</h3>
												</div>
											</div>
											<div class='modifierInfo infoSaisis'>
												<div class='change changeGestion bigModifierInfo addImg'>
													<span class="spanPlus"><img src="{{ asset('/img/iconPlus.png') }}" alt="icone plus"></span>
												</div>


											</div>

										</div>
										<div class='oneInfo oneBigInfo'>
											<div class='infoSaisis'>
												<div class='contentInfoGestion hInputGestion'>
													<h3>Equipement
													</h3>
												</div>
											</div>
											<div class='modifierInfo infoSaisis'>

												<div type="text" class='change changeGestion bigModifierInfo' placeholder="Modifier...">
													<label class="labelGestionEquipement" for="parking+">Parking
														<input type="checkbox" name="parking+" value="1">
													</label>
													<label class="labelGestionEquipement" for="wifi+">Wifi
														<input type="checkbox" name="wifi+" value="1">
													</label>
													<label class="labelGestionEquipement" for="piscine+">Piscine
														<input type="checkbox" name="piscine+" value="1">
													</label>
													<label class="labelGestionEquipement" for="animals+">Animaux
														<input type="checkbox" name="animals+" value="1">
													</label>
													<label class="labelGestionEquipement" for="kitchen+">Cuisine
														<input type="checkbox" name="kitchen+" value="1">
													</label>
													<label class="labelGestionEquipement" for="garden+">Jardin
														<input type="checkbox" name="garden+" value="1">
													</label>
													<label class="labelGestionEquipement" for="tv+">Tv
														<input type="checkbox" name="tv+" value="1">
													</label>
													<label class="labelGestionEquipement" for="climatisation+">Climatisation
														<input type="checkbox" name="climatisation+" value="1">
													</label>
													<label class="labelGestionEquipement" for="camera+">Camera
														<input type="checkbox" name="camera+" value="1">
													</label>
													
													<label class="labelGestionEquipement" for="home_textiles+">Draps
														<input type="checkbox" name="home_textiles+" value="1">
													</label>
													<label class="labelGestionEquipement" for="spa+">Spa
														<input type="checkbox" name="spa+" value="1">
													</label>
													<label class="labelGestionEquipement" for="jacuzzi+">Jacuzzi
														<input type="checkbox" name="jacuzzi+" value="1">
													</label>
												</div>
											</div>
										</div>
									</div>
								</div>
								<input type="submit" name="submitAddLogement" class="valider change validerGestion" value="">
							</form>
						</div>
					</div>
				</div>
				
				<div class="contentPage" id='contentGestionReservation'>
					<h1>Gestion des réservations</h1>
					<div class='divBarreDeRecherche'>
						<form action="" method='GET'>
							<input type="search" name='search' placeholder='Rechercher...' class='search'>
							<input type="submit" name='rechercher' value class='rechercher' class='valider change'>
						</form>
					</div>
					<h2>Réservations à venir</h2>
					{% if datasReservationChezMoi is not empty %}
						{% for i in 0..(datasReservationChezMoi|length - 1) %}
						<h3>{{datasReservationChezMoi[i].title}}</h3>
						<div class='card cardGestionReservation'>
							<table class="reservation-table">
								<thead>
									<tr class="rowTable">
										<th class="reservation-date colomTable">Période</th>
										<th class="reservation-reseverPar colomTable">Réservé par</th>
										<th class="reservation-reglement colomTable">Règlement</th>
										<th class="reservation-nbPresonnes colomTable">Nombre de personnes</th>
										<th class="reservation-contact colomTable">Contact</th>
									</tr>
								</thead>
								<tbody>

									{% for j in 0..(contacts[i]|length - 1) %}
										<tr class="rowTable">
											<td data-label="Date">
												<p>
													du {{start_dates[i][j]}} au {{end_dates[i][j]}}
												</p>
											</td>
											<td data-label="Reservar par">
												<p>
													{{names[i][j]}}
													{{firstnames[i][j]}}
												</p>
											</td>
											<td data-label="reglement">
												<p>
													réglé
												</p>
											</td>
											<td data-label="Nombre de persones">
												<p>
													4
												</p>
											</td>
											<td data-label="Contact">
												<p>
													{{contacts[i][j]}}
												</p>
											</td>
										</tr>
									{% endfor  %}
									
								</tbody>
							</table>
						</div>
					{% endfor %}
					{% endif %}


					<h2>Historique des réservations</h2>
					{% if datasHistoriqueReservationChezMoi is not empty %}
						{% for i in 0..(datasHistoriqueReservationChezMoi|length - 1) %}
						<h3>{{datasHistoriqueReservationChezMoi[i].title}}</h3>
						<div class='card cardGestionReservation'>
							<table class="reservation-table">
								<thead>
									<tr class="rowTable">
										<th class="reservation-date colomTable">Période</th>
										<th class="reservation-reseverPar colomTable">Réservé par</th>
										<th class="reservation-reglement colomTable">Règlement</th>
										<th class="reservation-nbPresonnes colomTable">Nombre de personnes</th>
										<th class="reservation-contact colomTable">Contact</th>
									</tr>
								</thead>
								<tbody>

									{% for j in 0..(contactsHistorique[i]|length - 1) %}
										<tr class="rowTable">
											<td data-label="Date">
												<p>
													du {{start_datesHistorique[i][j]}} au {{end_datesHistorique[i][j]}}
												</p>
											</td>
											<td data-label="Reservar par">
												<p>
													{{namesHistorique[i][j]}}
													{{firstnamesHistorique[i][j]}}
												</p>
											</td>
											<td data-label="reglement">
												<p>
													réglé
												</p>
											</td>
											<td data-label="Nombre de persones">
												<p>
													4
												</p>
											</td>
											<td data-label="Contact">
												<p>
													{{contactsHistorique[i][j]}}
												</p>
											</td>
										</tr>
									{% endfor  %}
									
								</tbody>
							</table>
						</div>
					{% endfor %}
					{% endif %}
				</div>
				<div class="contentPage" id='contentLike'>
					<h1>Mes favoris</h1>
					<div class='divBarreDeRecherche'>
						<form action="" method='GET'>
							<input type="search" name='search' placeholder='Rechercher...' class='search'>
							<input type="submit" name='rechercher' value class='rechercher' class='valider change'>
						</form>
					</div>
					{% for reqOneLike in likes %}
						<div class='card cardInfoPerso cardHG cardReservation'>
							<div class='cardContentLeft'>
								<figure>
									<img src="{{ asset('/img/logement/' ~ reqOneLike.thumbnail) }}" alt="{{reqOneLike.title}}">
								</figure>
							</div>
							<div class='cardContentRight'>
								<form action="" method="post">
										<input type="hidden" name="idLogement" id="idLogement" value="{{reqOneLike.id_logement}}">

										<span class="suprimer change validerGestion suprimerLike" data-idlogement="{{reqOneLike.id_logement}}"></span>
									</form>
								<div class='oneRightContent oneRightContentResqervation'>
									<h2>{{reqOneLike.title}}</h2>
								</div>
								<div class='oneRightContent oneRightContentResqervation'>
									<figure class="iconRightContent">
										<img id="iconReservationHistoric" src="{{ asset('/img/calendar.png') }}" alt="icone historique">
									</figure>
									<p class='dateRightContent infoRightContent'>{{reqOneLike.adress}}
									</p>
								</div>
								<div class='oneRightContent oneRightContentResqervation'>
									<figure class="iconRightContent">
										<img id="iconReservationHistoric" src="{{ asset('/img/argent.png') }}" alt="icone monnaie">
									</figure>
									<p class='dateRightContent infoRightContent'>{{reqOneLike.number_of_beds}}</p>
								</div>
								<div class='oneRightContent oneRightContentResqervation'>
									<figure class="iconRightContent">
										<img id="iconReservationHistoric" src="{{ asset('/img/people.png') }}" alt="icone personne">
									</figure>
									<p class='dateRightContent infoRightContent'>4 personnes</p>
								</div>
							</div>
						</div>
					{% endfor %}
				
				
				
				
				</div>
				<div class="contentPage contentPageReservation" id='contentMesReservation'>
					<h1>Mes Réservations</h1>
					<div class='divBarreDeRecherche'>
						<form action="" method='GET'>
							<input type="search" name='search' placeholder='Rechercher...' class='search'>
							<input type="submit" name='rechercher' value class='rechercher' class='valider change'>
						</form>
					</div>
					{% for reqOneResevation in mesReservations %}
						<div class='card cardInfoPerso cardHG cardReservation'>
							<div class='cardContentLeft'>
								<figure>
									<img src="{{ asset('/img/logement/' ~ reqOneResevation.thumbnail) }}" alt="{{reqOneResevation.title}}">
								</figure>
							</div>
							<div class='cardContentRight'>
								<div class='oneRightContent oneRightContentResqervation'>
									<h2>{{reqOneResevation.title}}</h2>
								</div>
								<div class='oneRightContent oneRightContentResqervation'>
									<figure class="iconRightContent">
										<img id="iconReservationHistoric" src="{{ asset('/img/calendar.png') }}" alt="calendrier">
									</figure>
									<p class='dateRightContent infoRightContent'>du{{reqOneResevation.start_date}}
										au
										{{reqOneResevation.end_date}}
									</p>
								</div>
								<div class='oneRightContent oneRightContentResqervation'>
									<figure class="iconRightContent">
										<img id="iconReservationHistoric" src="{{ asset('/img/argent.png') }}" alt="">
									</figure>
									<p class='dateRightContent infoRightContent'>réglé</p>
								</div>
								<div class='oneRightContent oneRightContentResqervation'>
									<figure class="iconRightContent">
										<img id="iconReservationHistoric" src="{{ asset('/img/people.png') }}" alt="">
									</figure>
									<p class='dateRightContent infoRightContent'>4 personnes</p>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="contentPage" id='con'></div>
			</div>
		{% endblock %}


		{% block js %}

			<script src="{{ asset('/js/dashboard.js') }}"></script>
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJOi0dF-SaAfjQDQogCfi0Ns5BDtZcJJU"></script>
			<script src="./asset/js/input.js"></script>
		{% endblock %}
	</body>
</html>
